{% extends 'base.html.twig' %}

{% block breadcrum %}

	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
			<li class="active">{{ 'menu.event.list'|trans }}</li>
		</ol>
	</div>

{% endblock %}

{% block main %}

	<div class="row">
		<div class="col-md-4 pull-left">
			<a role="button" class="btn btn-primary" href="{{ path('new_event') }}">{{ 'event.new'|trans }}</a>
		</div>
	</div>

	{% if events %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						{{ 'event.date'|trans }}
					</th>
					<th>
						{{ 'event.type'|trans }}
					</th>
					<th>
						{{ 'event.description'|trans }}
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for event in events %}
					<tr>
						<td>
							{{ event.date|date('d-m-Y') }}
						</td>
						<td>
							{{ event.type }}
						</td>
						<td>
							{{ event.description }}
						</td>
						<td>
							<a class="btn btn-primary glyphicon glyphicon-trash" href="{{ path('del_event', {'event_id': event.id}) }}"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
