{% extends 'base.html.twig' %}

{% block main %}

{{ form_start(form) }}
    {# {{ form_row(form.date) }}
    {{ form_row(form.description) }}
    {{ form_row(form.type) }}     #}
    {{ form_widget(form) }}
    <button type="submit">Guardar</button>
 {{ form_end(form) }}

{% endblock %}