{% extends 'base.html.twig' %}

{% block breadcrum %}
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
			<li class="active">{{ 'menu.user.list'|trans }}</li>
		</ol>
	</div>
{% endblock %}

{% block main %}

	<div class="row">
		<div class="col-md-4 pull-left">
			<a role="button" class="btn btn-primary" href="{{ path('user_registration') }}">{{ 'user.new'|trans }}</a>
		</div>
	</div>

	{% if users %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						{{ 'user.name'|trans }}
					</th>
					<th>
						{{ 'user.surname1'|trans }}
					</th>
					<th>
						{{ 'user.surname2'|trans }}
					</th>
					<th>
						{{ 'user.email'|trans }}
					</th>
					<th>
						{{ 'user.position'|trans }}
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>
							{{ user.name }}
						</td>
						<td>
							{{ user.surname1 }}
						</td>
						<td>
							{{ user.surname2 }}
						</td>
						<td>
							{{ user.email }}
						</td>
						<td>
							<select class="form-control change_role" id="{{ user.id }}-change_role" name="role">
								<option value="Pinya" {% if user.principalPosition == 'Pinya' %} selected {% endif %}>
									Pinya
								</option>
								<option value="Canalla" {% if user.principalPosition == 'Canalla' %} selected {% endif %}>
									Canalla
								</option>
								<option value="Tronc" {% if user.principalPosition == 'Tronc' %} selected {% endif %}>
									Tronc
								</option>
							</select>
						</td>
						<td>
							<a class="btn btn-primary glyphicon glyphicon-trash" href="{{ path('del_user', {'user_id': user.id}) }}"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
