{% extends 'base.html.twig' %}

{% block breadcrum %}

	<div class="row">
		<div class="col-md-12">
			<div class="breadcrum">
				<li>
					<a href="{ path('home') }"><span class="fa fa-home"></span></a>
				</li>
			</div>
		</div>
	</div>

{% endblock %}

{% block main %}

	<div class="row">
		<div class="col-md-4 pull-left">
			<button type="button" class="btn btn-primary">
				<a href="{{ path('new_event') }}">{{ 'event.new'|trans }}</a>
			</button>
		</div>
	</div>
	<div class="container-fluid">
		{% if to_list %}
			{% for key, list in to_list %}
				<div class="row-fluid">
					<div class="col-md-4 col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{ key }}</h3>
							</div>
							<div class="panel-body">
								<div class="well-table-content">
									<ul class="well clearfix">
										{% for event in list %}
											<li class="col-md-4">
												{{ event.date|date('d') }}
											</li>
											<li class="col-md-4">
												{{ event.type }}
											</li>
											<li class="col-md-4">
												{{ event.description }}
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
