{% extends 'base.html.twig' %}

{% block breadcrum %}

	<div class="row">
		<div class="col-md-12">
			<div class="breadcrum">
				<li>
					<a href="{ path('home') }"><span class="fa fa-home"></span></a>
				</li>
			</div>
		</div>
	</div>

{% endblock %}

{% block main %}

	<input id="user_id" type="hidden" value="{{ user.id }}">
	{% if to_list %}
		<div class="row">
			<div id="accordion">
				{% for key, list in to_list %}
					<h3 class="panel-title">{{ key }}</h3>
					<div>
						<div class="col-md-12 col-sm-12">							
							{% for event in list %}
								<div class="well well-attendance {% if event.checkUser(user) %} checked {% endif %}">
									<input class="event_id" type="hidden" value="{{ event.id }}">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-4">
											{{ event.date|date('d') }}
										</div>
										<div class="col-md-4 col-sm-4 col-xs-4">
											{{ event.type }}
										</div>
										<div class="col-md-4 col-sm-4 col-xs-4">
											{{ event.description }}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}
