{% extends 'base.html.twig' %}

{% block breadcrum %}

	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
			<li><a href="#">{{ 'menu.attendance'|trans }}</a></li>
			<li class="active">{{ 'manu.attendance.show'|trans }}</li>
		</ol>
	</div>
{% endblock %}

{% block main %}
	<div class="row">
		<form id="select_event" action="" method="POST">
			<div class="col-md-2">
				<div class="form-group">
					<label for="sel1">{{ 'attendance.event_list'|trans }}</label>
					<select class="form-control" id="sel1" name="event_id">
						{% for event in event_list %}
							<option value="{{ event.id }}" {% if event_selected.id == event.id %} selected {% endif %}>{{ event.date|date('d/m/Y') }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label for="sel2">{{ 'attendance.event_list_groupby'|trans }}</label>
					<select class="form-control" id="sel2" name="event_list_groupby">
						<option value="Tots" {% if event_list_groupby == 'Tots' %} selected {% endif %}>
							Tots
						</option>
						<option value="Pinya" {% if event_list_groupby == 'Pinya' %} selected {% endif %}>
							Pinya
						</option>
						<option value="Canalla" {% if event_list_groupby == 'Canalla' %} selected {% endif %}>
							Canalla
						</option>
						<option value="Tronc" {% if event_list_groupby == 'Tronc' %} selected {% endif %}>
							Tronc
						</option>
					</select>
				</div>
			</div>
		</form>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					{{ 'user.name'|trans }}
				</th>
				<th>
					{{ 'user.position'|trans }}
				</th>
			</tr>
		</thead>
		{% if users %}
			<tbody>
				{% for user in users %}
					<tr>
						<td>
							{{ user.name }}
						</td>
						<td>
							{{ user.principalPosition }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endif %}
	</table>		
{% endblock %}
